# ignore output xml file
file.xml
file_read.xml
\$\{output\}

# ignore eclipse project files
.classpath
.externalToolBuilders/
.project
.settings/

# ignore prof's library
lib/

# ignore builds
build/

# ignore xjc java classes auto-created
gen/

# ignore junit temp folders
temp*/
junit*

# ingnore runner
run.sh
